n8n/reporte-semanal.workflow.json
{
  "name": "LGEA - Reporte semanal con IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Cron semanal (lunes 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-40, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5000/api/reportes/semanal?dias=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "TU_REPORT_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Obtener datos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-goog-api-key", "value": "TU_GEMINI_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [ { \"parts\": [ { \"text\": \"Eres un analista comercial inmobiliario. Con los DATOS en JSON redacta en espanol un fragmento HTML (usa solo <p>,<h3>,<ul>,<li>,<strong>; sin etiquetas html o body) con tres secciones: 1) Resumen ejecutivo de 3-4 frases sobre la semana (citas, leads, visitas, propiedades con mas interes). 2) <h3>Lead scoring</h3> lista ordenada de MAYOR a MENOR probabilidad de cierre; por cada comprador indica nombre, propiedad, probabilidad (Alta/Media/Baja) y una razon breve basada en tipoCompra, nivelPotencial, capacidadAhorroMensual, buro y tieneEntrada30. 3) <h3>Comentario por propiedad</h3> una frase por propiedad destacada (interesados, contado vs credito, ticket promedio). Reglas: NO inventes datos que no esten en el JSON. Se conciso y profesional. DATOS: \" + JSON.stringify($json) } ] } ], \"generationConfig\": { \"temperature\": 0.4 } } }}",
        "options": {}
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Analisis IA (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Obtener datos').item.json;\nlet iaTexto = '';\ntry { iaTexto = $json.candidates[0].content.parts[0].text; } catch (e) { iaTexto = typeof $json === 'string' ? $json : JSON.stringify($json); }\nconst fmt = (n) => '$' + Number(n||0).toLocaleString('es-EC');\nconst r = data.resumen || {};\nconst periodo = new Date(data.periodo?.hasta || Date.now()).toLocaleDateString('es-EC');\nconst kpi = (label,val) => `<td style='padding:10px;border:1px solid #eee;text-align:center'><div style='font-size:22px;font-weight:700;color:#0a0a0a'>${val}</div><div style='font-size:11px;color:#6b7280;text-transform:uppercase'>${label}</div></td>`;\nconst rank = (data.rankingVendedores||[]).map((v,i)=>`<tr><td style='padding:8px;border-bottom:1px solid #eee'>${i+1}. ${v.nombre}</td><td style='padding:8px;border-bottom:1px solid #eee;text-align:center'>${v.citas}</td><td style='padding:8px;border-bottom:1px solid #eee;text-align:center'>${v.ejecutadas}</td></tr>`).join('') || `<tr><td colspan='3' style='padding:8px;color:#6b7280'>Sin citas en el periodo</td></tr>`;\nconst props = (data.resumenPorPropiedad||[]).map(p=>`<tr><td style='padding:8px;border-bottom:1px solid #eee'>${p.titulo}</td><td style='padding:8px;border-bottom:1px solid #eee;text-align:center'>${p.interesados}</td><td style='padding:8px;border-bottom:1px solid #eee;text-align:center'>${p.contado}/${p.credito}</td><td style='padding:8px;border-bottom:1px solid #eee;text-align:center'>${p.visitas}</td><td style='padding:8px;border-bottom:1px solid #eee;text-align:right'>${fmt(p.ticketPromedio)}</td></tr>`).join('') || `<tr><td colspan='5' style='padding:8px;color:#6b7280'>Sin actividad</td></tr>`;\nconst html = `<!doctype html><html><body style='font-family:Arial,sans-serif;background:#fafafa;margin:0;padding:24px'><div style='max-width:680px;margin:0 auto;background:#fff;border:1px solid #eee'><div style='background:#0a0a0a;color:#fff;padding:24px'><div style='color:#c9a961;letter-spacing:.2em;font-size:11px;text-transform:uppercase'>LGEA Constructores</div><h1 style='margin:6px 0 0;font-size:22px'>Reporte semanal - ${periodo}</h1></div><div style='padding:24px'><table style='width:100%;border-collapse:collapse;margin-bottom:20px'><tr>${kpi('Citas',r.citasAgendadas??0)}${kpi('Ejecutadas',r.citasEjecutadas??0)}${kpi('Leads',r.leadsNuevos??0)}${kpi('Visitas',r.visitasPropiedades??0)}</tr></table><h2 style='font-size:15px;border-left:3px solid #c9a961;padding-left:8px'>Analisis con IA</h2><div style='color:#404040;line-height:1.6;font-size:14px'>${iaTexto}</div><h2 style='font-size:15px;border-left:3px solid #c9a961;padding-left:8px;margin-top:24px'>Ranking de vendedores</h2><table style='width:100%;border-collapse:collapse;font-size:13px'><tr style='text-align:left;color:#6b7280'><th style='padding:8px'>Vendedor</th><th style='padding:8px'>Citas</th><th style='padding:8px'>Ejecutadas</th></tr>${rank}</table><h2 style='font-size:15px;border-left:3px solid #c9a961;padding-left:8px;margin-top:24px'>Resumen por propiedad</h2><table style='width:100%;border-collapse:collapse;font-size:13px'><tr style='text-align:left;color:#6b7280'><th style='padding:8px'>Propiedad</th><th style='padding:8px'>Interes.</th><th style='padding:8px'>Cont/Cred</th><th style='padding:8px'>Visitas</th><th style='padding:8px;text-align:right'>Ticket</th></tr>${props}</table></div><div style='padding:16px;background:#0a0a0a;color:#6b7280;font-size:11px;text-align:center'>Generado automaticamente con n8n + Gemini</div></div></body></html>`;\nreturn [{ json: { html, asunto: 'Reporte semanal LGEA - ' + periodo } }];"
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "admin@tudominio.com",
        "subject": "={{ $json.asunto }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Enviar al admin (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Cron semanal (lunes 8am)": {
      "main": [[{ "node": "Obtener datos", "type": "main", "index": 0 }]]
    },
    "Obtener datos": {
      "main": [[{ "node": "Analisis IA (Gemini)", "type": "main", "index": 0 }]]
    },
    "Analisis IA (Gemini)": {
      "main": [[{ "node": "Construir HTML", "type": "main", "index": 0 }]]
    },
    "Construir HTML": {
      "main": [[{ "node": "Enviar al admin (Gmail)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {}
}
